/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// $black: #000;
// $dark: #f7b733;
// $light: rgba(254, 243, 224, 0.52);

// .wp-block-cgb-block-loremtext-block {
// 	&.high-contrast {
// 		background: $black;
// 		border-color: $black;
// 		color: white;
// 	}
// }
