/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-loremtext-block  {

    &.high-contrast {
      background: $black;
      border-color: $black;
      color: white;
  }
}
