/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

//  $black: #000;
//  $dark: #f7b733;
//  $light: rgba(254,243,224,0.52);

// .wp-block-cgb-block-loremtext-block  {

//   background: $light;
//   border: 5px $dark solid;
//   padding: 1rem;

//   &.high-contrast {
//     background: $black;
//     border-color: $black;
//     color: white;
//   }

// }
